@model Category
<div class="container mt-5">
    <h1 class="text-danger">Category Detail Page</h1>
    <br />
    <br/>
    <h3>Category Name: @Model.Name </h3>
    <br />
        <a class="btn btn-primary " asp-action="Index">Back</a>
</div>