@model SliderDetailVM
<div class="container mt-5">
    <h1 class="text-danger">Slider Detail Page</h1>
    <br />
    <br />
    <h3>Slider Image</h3>
    <br/>
    <img src="~/assets/img/@Model.Img" style="width:150px; height:120px">
    <br />
    <br />
    <a class="btn btn-primary " asp-action="Index">Back</a>
</div>